@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --primary-color: #FFC600;
    --dark-primary-color: #4C0027;
    --dark-background: #0F0E0E;
    --dark-code-box: #323232;
    --element-color: #2f6f9f;
    --attribute-color: #006ee0;
    --attribute-content-color: #d73038;
    --comment-color: #20b2aa;
    --code-box-font: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --default-transition: all 0.2s ease-in;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background: #fff;
    color: #000;
    transition: var(--default-transition);
}

.dark-body {
    background: var(--dark-background);
    color: #fff;
}

a {
    color: #000;
    text-decoration: none;
}

/* Header */

.header {
    position: relative;
    background: var(--primary-color);
    transition: var(--default-transition);
}

.dark-head {
    background: var(--dark-primary-color);
}

.header::after {
    content: '';
    height: 7rem;
    transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    background: #fff;
    position: absolute;
    bottom: -3rem;
    left: 0;
    right: 0;
    z-index: 1;
    transition: var(--default-transition);
}

.dark-head::after {
    background: inherit;
}

/* Navbar */

#docs-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: var(--primary-color);
    transition: var(--default-transition);
}

.dark-nav {
    background: var(--dark-primary-color);
}

.dark-nav i {
    color: #000;
    transition: var(--default-transition);
}

.dark-nav i {
    color: #fff;
}

.open {
    margin-right: 2rem;
}

.navbar-left>a {
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.navbar-left>a:hover {
    color: #fff;
    transform: rotate(-45deg) scale(1.1);
}

.navbar-left,
.navbar-right {
    display: inherit;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.icon:hover {
    background: rgba(0, 0, 0, 0.603);
    color: #fff;
    transform: rotate(360deg);
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 74.4px;
    left: 0;
    bottom: 0;
    width: 15rem;
    background: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 1;
    display: none;
    transition: var(--default-transition);
}

.dark-sidebar {
    background: #000;
    color: #fff;
}

.sidebar-head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.2rem;
}

.sidebar-body {
    padding: 0.5rem;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.875rem;
}

.links > a {
    border-bottom: 2px solid transparent;
    transition: var(--default-transition);
}

.dark-sidebar > .sidebar-body > .links > a {
    color: #fff;
}

.links>a:hover {
    border-bottom: 2px solid var(--primary-color);
    transition: var(--default-transition);
}

.dark-sidebar > .sidebar-body > .links > a:hover {
    border-bottom: 2px solid var(--dark-primary-color);
}

/* Header Content */

.header-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.header-content-left {
    flex: 0.4;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 4rem;
}

.desc>p {
    color: #000;
    font-size: 1.25rem;
    text-align: center;
    text-align-last: center;
    transition: var(--default-transition);
}

.dark-head > .header-content > .header-content-left > .desc > p {
    color: #fff;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
}

.button {
    padding: 0.5rem 0.7rem;
    background: #fff;
    border-radius: 10px;
    color: var(--primary-color);
    font-weight: 700;
    transition: all 0.2s ease-in;
    font-size: 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: var(--default-transition);
}

.dark-head > .header-content > .header-content-left > .buttons > .button {
    color: var(--dark-primary-color);
}

.button:hover {
    transform: scale(1.1);
}

.to-docs {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: var(--default-transition);
}

.dark-head > .header-content > .header-content-left > .buttons > .to-docs {
    color: #fff;
}

.header-content-right {
    flex: 0.6;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.logo {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    background: #fff;
    color: #000;
    display: inherit;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.design {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: #fff;
    align-self: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.design1 {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    z-index: 2;
}

/* Body Content */

.main-content {
    margin-top: 2rem;
    padding: 10px 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.main-content > h1 {
    border-bottom: 2px solid var(--primary-color);
    transition: var(--default-transition);
}

.dark-main > h1 {
    border-bottom: 2px solid var(--dark-primary-color);
}

.main-content > p {
    font-size: 1.25rem;
}

/* Docs Content */

.documentation-area {
    padding: 10px 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 3rem;
    margin-top: calc(74.4px + 2rem);
}

.container {
    max-width: 80vw;
    margin: 0 auto;
}

.component-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.component-container > h1 {
    border-bottom: 2px solid var(--primary-color);
}

.dark-container > h1 {
    border-bottom: 2px solid var(--dark-primary-color);
}

.showcase {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;
    padding: 25px;
    background: #fff;
    color: #000;
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#alert > .showcase,
#input > .showcase,
#texts > .showcase,
#lists > .showcase {
    flex-direction: column;
}

.aligned-texts {
    width: 50rem;
}

/* Code */

.code-box {
    width: 50rem;
    max-height: 25rem;
    background: #eee;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    overflow-y: auto;
    transition: var(--default-transition);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.dark-codebox {
    background: var(--dark-code-box);
    color: #ccc;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.code {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 1rem;
}

.code::-webkit-scrollbar {
    width: 0.875rem;
}

.line {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.line > span {
    font-family: var(--code-box-font);
    white-space: pre;
}

.pl-1 {
    padding-left: 1.5rem;
}

.pl-2 {
    padding-left: 3rem;
}

.pl-3 {
    padding-left: 4.5rem;
}

.pl-4 {
    padding-left: 6rem;
}

.element {
    color: var(--element-color);
}

.attribute {
    color: var(--attribute-color);
}

.attribute-content {
    color: var(--attribute-content-color);
}

.comment {
    color: var(--comment-color);
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 20px 20px;
    background: var(--primary-color);
    margin-top: 3rem;
    transition: var(--default-transition);
}

.dark-foot {
    background: var(--dark-primary-color);
}

.footer-left > a {
    font-size: 1.5rem;
    transition: var(--default-transition);
}

.dark-foot > .footer-left > a {
    color: #fff;
}

.footer-left>a:hover {
    color: #fff;
    transform: rotate(-45deg) scale(1.1);
}

.footer-left,
.footer-right,
.footer-mid {
    display: inherit;
    align-items: center;
    gap: 10px;
}

.footer-right > .icon > i {
    color: #000;
    transition: var(--default-transition);
}

.dark-foot > .footer-right > .icon > i {
    color: #fff;
}

.footer-mid {
    font-size: 0.9rem;
}

.footer-mid > p {
    color: #000;
    transition: var(--default-transition);
}

.dark-foot > .footer-mid > p {
    color: #fff;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 0.875rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #777;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
}

@media screen and (max-width: 900px) {
    html {
        font-size: 80%;
    }

    /* Sidebar */

    .sidebar {
        top: 64px;
    }

    /* Docs Content */
    .documentation-area {
        margin-top: calc(64px + 2rem);
    }

    #card > .showcase {
        flex-direction: column;
    }

    /* Code */

    .code-box {
        width: 42.5rem;
    }

    .aligned-texts {
        width: 42.5rem;
    }

    /* Header Content */

    .header-content {
        flex-flow: column;
    }

    .header-content-left,
    .header-content-right {
        flex: 1;
        width: 100%;
    }

    /* Landing Footer */

    #landing-footer {
        margin-top: 5vh;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 62.5%;
    }

    /* Sidebar */

    .sidebar {
        top: 54.4px;
    }

    /* Docs Content */

    .documentation-area {
        margin-top: calc(54.4px + 2rem);
    }

    #card > .showcase {
        flex-direction: column;
    }

    /* Code */

    .code-box {
        width: 30rem;
    }

    .aligned-texts {
        width: 30rem;
    }

    /* Header Content */

    .header-content {
        flex-flow: column;
    }

    .header-content-left,
    .header-content-right {
        flex: 1;
        width: 100%;
    }

    /* Landing Footer */

    #landing-footer {
        margin-top: 5vh;
    }
}