:root {
    --danger-color: #FF6464;
    --success-color: #91C483;
    --warning-color: #FFE162;
    --dark-color: #111;
    --light-color: #ccc;
}

.alert {
    min-width: 25rem;
    padding: 0.625rem 1.5rem;
    border: 2px solid #000;
    font-size: 1rem;
    font-weight: 600;
}

.alert > i {
    margin-right: 0.5rem;
}

.alert-danger {
    background: var(--danger-color);
    color: #fff;
    border: none;
}

.alert-warning {
    background: var(--warning-color);
    color: #fff;
    border: none;
}

.alert-success {
    background: var(--success-color);
    color: #fff;
    border: none;
}

.alert-dark {
    background: var(--dark-color);
    color: #fff;
    border: none;
}

.alert-light {
    background: var(--light-color);
}