<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- AVATARS -->

    <img src="./img/tanjiro.jpg" alt="avatar" class="avatar-xsm">
    <img src="./img/rengoku.jfif" alt="avatar" class="avatar-sm">
    <img src="./img/tengen.jpg" alt="avatar" class="avatar-md">
    <img src="./img/giyu.jpg" alt="avatar" class="avatar-lg">
    <img src="./img/gyomei.png" alt="avatar" class="avatar-xlg">
</body>
</html>