:root {
    --light-black-1: rgba(0, 0, 0, .1);
    --light-black-5: rgba(0, 0, 0, 0.3);
    --active-color: #2666CF;
    --white-color: #fff;
    --active-hover-shade: rgba(38, 103, 207, 0.8);
}

.list {
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
}

.list-unordered {
    list-style-type: circle;
}

.list-item {
    font-size: 1rem;
    font-weight: 600;
    line-height: 2;
}

.list-stacked {
    padding: 0;
    list-style-type: none;
}

.list-stacked > .list-item {
    padding: 0.625rem 0.875rem;
    width: 25rem;
    border: 1px solid var(--light-black-5);
    margin-bottom: -1px;
    cursor: pointer;
}

.list-stacked > .list-item:hover {
    background: var(--light-black-1);
}

.list-stacked > .list-item:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}

.list-stacked > .list-item:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
    margin-bottom: 0;
}

.active-item {
    background: var(--active-color);
    color: var(--white-color);
}

.active-item:hover {
    background: var(--active-hover-shade)!important;
}