:root {
    --light-black-2: rgba(0, 0, 0, 0.15);
    --light-black-5: rgba(0, 0, 0, 0.3);
    --light-black-6: rgba(0, 0, 0, 0.35);
    --grey-5: #555;
    --white-color: #fff;
    --button-text-color: #8b4edb;
    --modal-opener-shade: rgba(139, 78, 219, 0.178);
}

#modal-opener {
    background: var(--modal-opener-shade);
}

.modal-box {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    display: none;
    background: var(--light-black-5);
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    border-radius: 8px;
    background: var(--white-color);
    width: 250px;
    box-shadow: var(--light-black-6) 0px 5px 15px;
}

.modal-head {
    width: 100%;
}

.modal-head > p {
    color: var(--grey-5);
    font-size: 0.9rem;
}

.buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

#modal-opener,
.action {
    outline: none;
    border: none;
    background: transparent;
    color: var(--button-text-color);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    padding: 5px;
    border-radius: 7px;
}

#modal-opener:hover,
.action:hover {
    background: var(--light-black-2);
}