.nav-container {
    position: relative;
    max-width: 56.25rem;
    height: 18.75rem;
    margin: 3rem auto;
    overflow-y: scroll;
    background: var(--grey-e-color);
}

.fixed {
    position: sticky;
    top: 0;
}

.short {
    position: sticky;
    top: 0;
    transition: all 0.4s ease-in;
    width: 100%;
    border-radius: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 1rem;
    background: var(--primary-color);
    z-index: 3;
}

.nav-left,
.nav-right {
    display: inherit;
    align-items: center;
    gap: 1.5rem;
}

.nav-icon {
    font-size: 1.25rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inherit;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-icon:hover {
    background: var(--light-black-3);
    color: var(--white-color);
}

.dropdown {
    position: relative;
}

.dropdown__items {
    position: absolute;
    display: none;
    top: 7vh;
    background-color: var(--white-color);
    z-index: 999999;
    width: 300px;
}

.show {
    display: block;
}

.nav-left h3 {
    cursor: pointer;
}

.nav-left .dropdown__items > li {
    padding: 0.75rem;
    background-color: transparent;
    font-size: 1rem;
    list-style-type: none;
    cursor: pointer;
}

.nav-left .dropdown__items > li:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.nav-left .dropdown__items > li > a {
    padding: 0 0.75rem;
    background-color: transparent;
    all: unset;
}

.nav-left .dropdown__items > li > a:hover {
    color: var(--white-color);
}