/* Star Rating */
.starred {
    color: var(--starred-color);
}

/* Bar Rating */
.bar-rating-container {
    width: 5rem;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border: 1px solid var(--black-color);
    border-radius: 1rem;
}

.bar {
    height: 1rem;
    border-radius: 1rem;
    background: var(--starred-color);
}

.bar-1 {
    width: 1rem;
}

.bar-2 {
    width: 2rem;
}

.bar-3 {
    width: 3rem;
}

.bar-4 {
    width: 4rem;
}

.bar-5 {
    width: 5rem;
}